# Dependencias del proyecto
# Nota: tkinter viene incluido con Python (asegúrate de instalar Python con soporte GUI)

customtkinter
Flask
Flask-Cors
mysql-connector-python
Pillow
openpyxl
reportlab
gunicorn
